// Reset margins and paddings
* {
  margin: 0;
  padding: 0;
}


$dark-purple: #503FBF;
$light-purple: #7162D9;
$teal: #6CD9B1;
$pink: #F277A4;

$white-btn-border-color: #C4C4C4;

// Include any default variable overrides here (though functions won't be available)

// Override $light color theme
$light: #E5E5E5;

// Overide theme-colors
$primary: $dark-purple;
$secondary: $light-purple;


// Import necessary Bootstrap files
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// Custom theme color map
$custom-colors: (
  "darkpurple": $dark-purple,
  "lightpurple": $light-purple,
  "teal": $teal,
  "pink": $pink,
  "white": $white,
);

// Merge custom-colors map to theme-colors map
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

// Import all components of Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";


// Then add additional custom code here


// Text colors
.text-darkpurple {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-darkpurple-rgb), var(--bs-text-opacity)) !important;
}

.text-lightpurple {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-lightpurple-rgb), var(--bs-text-opacity)) !important;
}

.text-teal {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-teal-rgb), var(--bs-text-opacity)) !important;
}

.text-pink {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-pink-rgb), var(--bs-text-opacity)) !important;
}


// Background colors
.bg-darkpurple {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-darkpurple-rgb), var(--bs-bg-opacity)) !important;
}

.bg-lightpurple {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-lightpurple-rgb), var(--bs-bg-opacity)) !important;
}

.bg-teal {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-teal-rgb), var(--bs-bg-opacity)) !important;
}

.bg-pink {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-pink-rgb), var(--bs-bg-opacity)) !important;
}

.main-content {
  padding-top: 8vh;
  padding-bottom: 1.5rem;
}
