
// Include any default variable overrides here (though functions won't be available)

// Custom theme color map
$custom-colors: (
    "darkpurple": #503FBF,
    "lightpurple": #7162D9,
    "teal": #6CD9B1,
    "pink": #F277A4,
    "white": $white
);

// Override $light color theme
$light: #E5E5E5;

// Merge custom-colors map to theme-colors map
$theme-colors: map-merge($theme-colors, $custom-colors);

// Import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
