@use '../custom' as *;

.text-start{
  text-align: left;
}

.collaborator-content-1{
  padding-top: 3vh;
  margin-left: 0.50rem !important;
}

.collaborator-content-2{
  margin-left: 0.50rem !important;
}

.collab-edit-btn{
  float:right;
  margin-right: 0.25rem;
}

.collab-user {
  @extend .text-decoration-none;
  background-color: transparent;
  color: $gray;

  &:hover {
    color: $black;
  }
}
