@use '../custom' as *;
@use '../components/typography' as *;

#sidenav {
  height: 92vh;
  width: inherit;
  left: 0;
  top: 8vh;
  position: fixed;
}

#workspace-name {
  height: 30vh;
}

#nav-section {
  height: 62vh;
}

.workspace-nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;

  &:hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-darkpurple-rgb), var(--bs-bg-opacity));
  }
}

#back-workspace {
  background-color: $white;

  &:hover {
    color: $white;
  }
}
