@use '../custom' as *;
@use '../components/typography' as *;

#sidenav {
  height: 92vh;
  width: inherit;
  left: 0;
  top: 8vh;
  position: fixed;
}

#workspace-name {
  @extend .d-flex;
  @extend .mx-0;
  @extend .p-4;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .border;
  @extend .border-2;
  @extend .border-top-0;
  @extend .border-lightpurple;
  background-color: $white;
  height: 30vh;

  p {
    @extend .fs-1;
    @extend .oswald;
    @extend .text-pink;
    @extend .text-center;
    @extend .text-wrap;
    @extend .m-0;
  }
}

#nav-section {
  height: 62vh;
}

.workspace-nav {
  @extend .montserrat;
  font-size: 1rem;

  &:hover {
    background-color: $dark-purple;
  }
}

#back-workspace {
  background-color: $white;

  &:hover {
    background-color: $dark-purple;
    color: $white;
  }
}
