@use '../custom' as *;
@use '../components/typography' as *;


/* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

.header-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position:absolute;
    top: 10;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100 px;
    z-index: 10;
}

/*.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding:30px 10%;
}*/

.header-logo{
    position: relative;
    cursor: pointer;
}

.header-nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;

}

.header-nav li{
    list-style: none;
    margin: 0 10px;
}

.prof-pic{
    color: #F277A4;
}

.search{
    position: relative;
    width: 400px; 
    height: 40px;
}

.search input{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px 0 45px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search input::placeholder{
    color: #fff;

}

/*@media(max-width: 991px)
{
    header{
        padding: 10px 20px;
        flex-direction: column;
    }
}*/

.search-logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 10px;

}

.header-name{
    width: 500px;
    font-size: 25px;
    vertical-align:top;
}

.header-left-elements{
    list-style: none;
    margin-right: 5%;
    margin-left: -50px;
}

.header-left-elements li{
    display: inline-block;
    padding: 0px 20px;
}

.header-left-elements li a{
    transition: all 0.3s ease 0s;
}

.header-left-elements li a:hover{
    color: rgb(27, 102, 27);
}

.header-1{
    margin-left: -20%;
}

.light-dark, .logout, .success{
    padding: 9px 25px;
    background-color: rgb(9, 168, 129, 1);
    border:none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.profile{
    margin-right: 60px;
    cursor: pointer;
}

.light-dark:hover, .logout:hover, .success:hover{
    background-color: rgba(9, 168, 129,0.8);
}

.header-2 button, .header-1 button{
    margin-left:5px;    
    background-color: #6CD9B1;
}

.logout, .success, .light-dark{
    border-radius: 12px;
}


.searchbar{
    width: 500px;
    border-radius: 30px;
}

.light-dark{
    margin-right: 8px;
    overflow: hidden;
}

.profile-img{
    border-radius: 60%;
}