<a href="#top" id="back-to-top-btn" class="btn p-2 rounded-circle border border-2 shadow" role="button">
  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
  </svg>
</a>

<script>
  // Get the button
  let backToTopBtn = document.getElementById("back-to-top-btn");

  // When user scrolling the webpage
  window.onscroll = () => {
    // Display button when user scrolls down 50px from the top
    if(document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
      backToTopBtn.style.display = "inline-block";
    } else { // Don't display button while user on the top
      backToTopBtn.style.display = "none";
    }
  }
</script>
