<a class="back-btn" onclick="goBack('<%= type %>')" role="button"><span class="fw-bolder"><</span> Go back</a>

<script>
  function goBack(backType) {
    if(backType == 'account') {
      window.location.assign('/app');
    } else {
      let path = window.location.pathname;
      workspace = path.split('/')[1];
      window.location.assign('/' + workspace + '/inventory');
    }
    
  }
</script>