<nav class="navbar navbar-dark bg-lightpurple w-100 position-fixed" style="height: 8vh;top: 0;z-index:1090;">
    <div class="container-fluid">
      <image source="register_logo.png"></image>
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex header-1">
        <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <form class="d-flex header-2">
        <button class="btn btn-outline-success light-dark" type="submit"></button>
        <button class="btn btn-outline-success profile" type="submit"></button>
        <button class="btn btn-outline-success logout" type="submit">Logout</button>
      </form>
    </div>
  </nav>