<% if(addModalId !== '') { // TODO: change condition %> 
<div class="modal fade montserrat" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()"></button>
      </div>
      <div class="modal-body">
        <form id="addForm" class="needs-validation" method="post" action="" novalidate>
          <div class="mb-3 form-floating" id="input1">
            <input type="text" class="form-control" name="tmp" placeholder="Tmp" required>
            <label for="tmp" class="col-form-label"></label>
            <div class="invalid-feedback"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-gray" data-bs-dismiss="modal" onclick="clearForm()">Close</button>
        <button type="submit" class="btn btn-secondary" form="addForm">Confirm</button>
      </div>
    </div>
  </div>
</div>

<%#
  GUIDE FOR RETREVING FROM REQUEST BODY:
    Add Workspace form req.body.~:
      - workspace

    Add Item form req.body.~:
      - name
      - code
      - qtyUnit
      - description
    
    Add Collaborator form req.body.~:
      - username
%>

<script>
  let isInit = false;
  let addModal = document.getElementById('addModal');
  addModal.addEventListener('show.bs.modal', function (event) {
    if(isInit) return;
    console.log('Initialized add modal');
    // Get the button that triggered event
    let button = event.relatedTarget;
    // Get the type of add
    let type = button.getAttribute('data-bs-add-type');

    switch(type) {
      case "workspace":
        $('#addModalLabel').text('Add Workspace');
        $('#addForm').attr({ action: '/add-workspace'});//change the path
        // Get all the necessary elements for adding workspace
        let workspaceInput = $('#input1').children()[0];
        let workspaceLabel = $('#input1').children()[1];
        let workspaceFeedback = $('#input1').children()[2];
        // Apply changes to the template
        $(workspaceInput).attr({ name: 'workspace', placeholder: 'Workspace' });
        $(workspaceLabel).attr({ for: 'workspace' }).text('Workspace');
        $(workspaceFeedback).text('Please provide a valid workspace name.');
        break;
      case "item":
        $('#addModalLabel').text('Add Item');
        $('#addForm').attr({ action: '/add-item'});//change the path
        // Create copies of the input elements
        let input1 = $('#input1');
        let input2 = $('#input1').clone().attr({id:'input2'});
        let input3 = $('#input1').clone().attr({id:'input3'});
        let input4 = $('#input1').clone().attr({id:'input4'});
        // Append div inputs to `#addForm` Form
        $('#addForm').append(input2,input3,input4);
        // Modify input1 div `Item name`
        let input = $(input1).children()[0];
        let label = $(input1).children()[1];
        let feedback = $(input1).children()[2];
        $(input).attr({ name: 'name', placeholder: 'Item Name' });
        $(label).attr({ for: 'name' }).text('Item Name');
        $(feedback).text('Please provide a valid item name.');
        // Modify input2 div `Item Code`
        input = $('#input2').children()[0];
        label = $('#input2').children()[1];
        feedback = $('#input2').children()[2];
        $(input).attr({ name: 'code', placeholder: 'Item Code' });
        $(label).attr({ for: 'code' }).text('Item Code');
        $(feedback).text('Please provide a valid item code.');
        // Modify input3 div `Qty/Unit`
        input = $('#input3').children()[0];
        label = $('#input3').children()[1];
        feedback = $('#input3').children()[2];
        $(input).attr({ name: 'qtyUnit', placeholder: 'Qty/Unit' });
        $(label).attr({ for: 'qtyUnit' }).text('Qty/Unit');
        $(feedback).text('Please provide a valid quantity and unit.');
        // Modify input4 div `Description`
        input = $('#input4').children()[0];
        feedback = $('#input4').children()[2];
        $(input).remove();
        $(feedback).remove();
        input = $('<textarea></textarea>');
        $('#input4').prepend(input);
        input = $('#input4').children()[0];
        label = $('#input4').children()[1];
        $(input).attr({ class: 'form-control', name: 'description', placeholder: 'Description' });
        $(label).attr({ for: 'description' }).text('Description (Optional)');
        break;
      case "collaborator":
        $('#addModalLabel').text('Add Collaborator');
        $('#addForm').attr({ action: '/add-collaborator'});//change the path
        // Get all the necessary elements for adding collaborator
        let collaboratorInput = $('#input1').children()[0];
        let collaboratorLabel = $('#input1').children()[1];
        let collaboratorFeedback = $('#input1').children()[2];
        // Apply changes to the template
        $(collaboratorInput).attr({ name: 'username', placeholder: 'Collaborator' });
        $(collaboratorLabel).attr({ for: 'username' }).text('Collaborator');
        $(collaboratorFeedback).text('Please provide a valid username.');
        break;
    }
    isInit = true;
  });
</script>
<% } %>
