<div class="container d-flex align-items-stretch mx-0 px-0" style="height:92vh">
  
  <div class="row mx-0">
    <div class="d-flex mx-0 p-4 justify-content-center align-items-center 
              border border-2 border-lightpurple bg-white" style="height: 30vh;">
      <p class="fs-1 oswald text-center text-wrap m-0">Tatak Tech Solutions</p>
    </div>

    <ul class="nav nav-pills flex-column px-0 w-100 bg-lightpurple" style="height: 62vh;">
      <li class="nav-item">
        <a class="nav-link bg-darkpurple text-white oswald fs-5" aria-current="page" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white montserrat" href="#">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white montserrat" href="#">Collaborators</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white montserrat"  href="#">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white montserrat"  href="#">Delete Workspace</a>
      </li>
      <li class="nav-item mb-4 mt-auto">
        <a class="nav-link bg-white 
                text-center text-darkpurple montserrat
                border border-lightpurple" href="#">Back to Workspaces</a>
      </li>
    </ul>
  </div>


</div>
