<nav id="sidenav" class="navbar navbar-expand-lg d-flex align-items-stretch mx-0 p-0">
  
  <div class="row mx-0">
    <div class="d-flex mx-0 p-4 justify-content-center align-items-center 
              border border-2 border-lightpurple bg-white" style="height: 30vh;">
      <p class="fs-1 oswald text-center text-wrap m-0">Tatak Tech Solutions</p>
    </div>

    <ul class="nav nav-pills flex-column px-0 w-100 bg-lightpurple" style="height: 62vh;">
      <li class="nav-item">
        <a class="nav-link text-white workspace-nav" aria-current="page" href="/workspace">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white workspace-nav" href="#">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white workspace-nav" href="#">Collaborators</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white workspace-nav"  href="#">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white workspace-nav"  href="#">Delete Workspace</a>
      </li>
      <li class="nav-item mb-4 mt-auto">
        <a class="nav-link text-center back-workspace bg-white
                border border-lightpurple" href="#">Back to Workspaces</a>
      </li>
    </ul>
  </div>

</nav>
