<div class="container d-flex flex-column">

  <div class="row">
    <p class="fs-1 oswald">Workspace</p>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Inventory</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Collaborators</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Delete Workspace</a>
    </li>
    <li class="nav-item align-self-end">
      <a class="nav-link disabled">Delete Workspace</a>
    </li>
  </ul>
</div>