<button class="sort-btn">
  Sort by:
  <select>
    <option value="name-asc" selected>Name: A-Z</option>
    <option value="name-desc">NameL Z-A</option>
    <option value="qty-asc">Qty: Ascending</option>
    <option value="qty-desc">Qty: Descending</option>
  </select>
</button>

<script>
  const sortedArray = [''] ;
</script>