<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Item</title>

  <link rel="stylesheet" href="../css/style.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
</head>
<body>
  <%- include('../partials/header.ejs') %>

  <!-- 
    Use this if you plan to place the back button outside this div.
    Making the back button's position absolute to the body.
    This also makes it easier since the div is already in the middle.
    You may opt to change this if you want. Just make sure that you add
    the `.main-content` as the last class of your div container.
  -->>
  <div class="container-xl main-content">
    <%- body %>
  </div>
  
</body>
</html>