<div class="container-md px-5">
  <div class="row mx-0 my-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Recent Updates</h4>
          <hr class="my-0" style="position:absolute;left:0;width:75%;">
          <p class="card-text">update 1</p>
          <p class="card-text">update 2</p>
          <p class="card-text">update 3</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-0 mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Low on Stock</h4>
          <hr class="my-0" style="position:absolute;left:0;width:75%;">
          <p class="card-text">item 1 - 0</p>
          <p class="card-text">item 2 - 2</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Top Item</h4>
          <hr class="my-0" style="position:absolute;left:0;width:75%;">
          <p class="card-text">Yummy-licious</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-0">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Total Listed Items</h4>
          <hr class="my-0" style="position:absolute;left:0;width:75%;">
          <p class="card-text">69</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Total Collaborators</h4>
          <hr class="my-0" style="position:absolute;left:0;width:75%;">
          <p class="card-text">2</p>
        </div>
      </div>
    </div>
  </div>
</div>
