<div class="main-content container-lg my-3 fade-in-up">
<div class="outer-layer row">
    <div class="hist-header">
        <h3 class="mt-3 border-bottom border-3 oswald text-gray display-4 hist-margin-left"> Quantity Updates History <span class="hist-buttons"><%-include('partials/deleteItemBtn.ejs'); %></span></h3>
        <hr class="hist-black-line text-black">
    </div>
    <!--<a class="hist-sort"><%-include('partials/sort_btn.ejs');%></a> -->
    <div class="col-2 hist-sort">
        <%- include('./partials/sort_btn.ejs'); %>
      </div>
    <div class="table-box">
        <div class="table-row">
            <div class="table-cell cell-header">
                <h3 class="card-title text-pink"><strong>Item</strong></h3>
            </div>
            <div class="table-cell cell-header">
                <h3 class="card-title text-pink"><strong>Qty</strong></h3>
            </div>
            <div class="table-cell cell-header"> 
                <h3 class="card-title text-pink"><strong>Date</strong></h3>
            </div>
            <div class="table-cell cell-header"> 
                <h3 class="card-title text-pink"><strong>Editor</strong></h3>
            </div>
        </div>
        <div class="table-row row-contents">
            <div class="table-cell">
                <p><strong>Blueberry Cheesecake</strong></p>
            </div>
            <div class="table-cell">
                <p><strong>40</strong></p>
            </div>
            <div class="table-cell"> 
                <p><strong>05/03/2022</strong></p>
            </div>
            <div class="table-cell last-cell"> 
                <p><strong>@bohx_Faith</strong></p>
            </div>
        </div>
        <div class="table-row row-contents">
            <div class="table-cell">
                <p><strong>Lemon Cheesecake</strong></p>
            </div>
            <div class="table-cell">
                <p><strong>100</strong></p>
            </div>
            <div class="table-cell"> 
                <p><strong>05/03/2022</strong></p>
            </div>
            <div class="table-cell last-cell"> 
                <p><strong>@bohx_Airon</strong></p>
            </div>
        </div>
        <div class="table-row row-contents">
            <div class="table-cell">
                <p><strong>Putakte Cheesecake</strong></p>
            </div>
            <div class="table-cell">
                <p><strong>70</strong></p>
            </div>
            <div class="table-cell"> 
                <p><strong>05/01/2022</strong></p>
            </div>
            <div class="table-cell last-cell"> 
                <p><strong>@bohx_Pierre</strong></p>
            </div>
        </div>
    </div>
</div>

</div> 

<%- include('./partials/backToTopBtn.ejs') %>