<% // Sample Data
  const workspaces = [
    {
      name: 'Default Workspace',
      themeColor: 'pink',
      pathName: 'default'
    },
    {
      name: 'Shoppee',
      themeColor: 'lightpurple',
      pathName: 'shoppee'
    },
    {
      name: 'Lozoda',
      themeColor: 'darkpurple',
      pathName: 'lozoda'
    },
    {
      name: 'Lolamove',
      themeColor: 'teal',
      pathName: 'lolamove'
    },
    {
      name: 'Tsubibo',
      themeColor: 'pink',
      pathName: 'tsubibo'
    }
  ];
%>

<div class="container-xl px-0 main-content">
  <h1 class="mt-3 border-bottom border-3 oswald display-4" id="page-heading">WORKSPACES</h1> 
  <div class="row row-cols-3 mx-0 mb-4 main-content fade-in-up">

    <!-- Add Workspace Button -->
    <div class="col add-workspace">
        <button type="button" class="add-btn h-200 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="9rem" height="9rem" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg><br>
            <span >Add Workspace</span>
          </button>
    </div>
    <!-- END Add Workspace Button -->

    <!-- Workspace Cards -->
    <% for(let ws of workspaces) { %>
    <div class="col">
      <a class="home-card h-200 bg-<%= ws.themeColor %>" href="/<%= ws.pathName %>/dashboard">
        <div class="card-body">
        </div>
        <div class="card-footer border-top-0 bg-<%= ws.themeColor %>">
          <hr>
          <h6 class="card-title title-1 montserrat"><%- ws.name %></h6>
        </div>
      </a>
    </div>
    <% } %>
    <!--END Workspace Cards -->
