<div class="container-md w-75 fade-in-up">  
  <h1 class="mt-3 border-bottom border-3 oswald text-gray display-4">WORKSPACES</h1> 
  <div class="row mx-0 mb-4 main-content">
    <div class="col add-workspace">
        <button type="button" class="add-btn h-200 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="9rem" height="9rem" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg><br>
            <span >Add Workspace</span>
          </button>
    </div>
    <div class="col">
      <div class="card keepr-card-filled bg-pink h-200 ">
        <div class="card-body workspace-content">
            <hr>
          <h6 class="card-title title-1 montserrat">Dashboard 1</h6>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card keepr-card-filled bg-darkpurple h-200 ">
        <div class="card-body workspace-content">
            <hr>
          <h6 class="card-title title-1 montserrat">Lazada</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0 mb-4">
    <div class="col">
        <div class="card keepr-card-filled bg-lightpurple h-200">
          <div class="card-body workspace-content">
            <hr>
            <h6 class="card-title title-1 montserrat">Lalamove</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card keepr-card-filled bg-teal h-200">
          <div class="card-body workspace-content">
            <hr>
            <h6 class="card-title title-1 montserrat">Shopee</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card keepr-card-filled bg-pink h-200">
          <div class="card-body workspace-content">
            <hr>
            <h6 class="card-title title-1 montserrat">Carousell</h6>
          </div>
        </div>
      </div>
  </div>
  </div>
 