<div class="container-fluid px-0">
  <div class="row">
    <div class="col-6 vh-100" style="background-image: url('img/landing_banner.png'); background-size: cover; padding-left: 5%;padding-right: 5%; padding-top: 3%; padding-bottom: 3%;">
        <div>
          <img src="img/landing_logo_withName.png" style="width:20%" />
          <h1 class="oswald text-white" style="font-size: 16vmin; padding: 5%;">
            You got it,<br>we stock it.
          </h1>

          <p class="montserrat text-white fst-italic" style="padding-left: 5%; padding-right: 5%; padding-bottom:0; padding-top:0; margin-bottom:2%; margin-top: auto;box-sizing: border-box;">
            company vision mission<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus pretium eros. Praesent sed velit justo. 
            Nunc venenatis convallis porta. Duis viverra lobortis pellentesque. Proin semper maximus accumsan. Cras ut justo diam. 
            Vivamus in tincidunt dolor, nec maximus mi. Integer pellentesque fermentum tortor, a rutrum sapien bibendum ut. Cras ut eleifend nunc. 
            Morbi aliquam est porta, tristique erat id, mollis eros. Nullam eget maximus leo. Aliquam a mi nibh.
          </p>
        </div>
    </div>

    <div class="col-6 d-flex px-0">
      <!--start of blobs-->
      <div class="blob-right" style="margin-top:20px; margin-left:200px">
        <svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="150%"id="blobSvg">
          <g transform="translate(167.2222137451172, -19.961448669433594)">
            <defs>
              <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(80, 63, 191);"></stop>
                <stop offset="100%" style="stop-color: rgb(242, 119, 164);"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradient)">
              <animate
              attributeName="d"
              dur="10000ms"
              repeatCount="indefinite"
              
              values="
              M445,305Q441,360,391,383.5Q341,407,295.5,452Q250,497,200.5,459.5Q151,422,115,385.5Q79,349,50.5,299.5Q22,250,29.5,188.5Q37,127,93,100.5Q149,74,199.5,59.5Q250,45,298,64.5Q346,84,388.5,115Q431,146,440,198Q449,250,445,305Z;

              M426,299Q420,348,392,398Q364,448,307,457Q250,466,205.5,435Q161,404,124,374Q87,344,48,297Q9,250,23,188.5Q37,127,84,85.5Q131,44,190.5,34.5Q250,25,297.5,55.5Q345,86,378,121.5Q411,157,421.5,203.5Q432,250,426,299Z;
              M454,300Q424,350,394.5,400Q365,450,307.5,442Q250,434,194,439Q138,444,117.5,391.5Q97,339,68.5,294.5Q40,250,42.5,191Q45,132,88,88Q131,44,190.5,41Q250,38,306,46.5Q362,55,382,108.5Q402,162,443,206Q484,250,454,300Z;
              M454,312.5Q466,375,411.5,405Q357,435,303.5,445.5Q250,456,196,446Q142,436,93,402.5Q44,369,34.5,309.5Q25,250,53,201Q81,152,117.5,118.5Q154,85,202,55Q250,25,306.5,40Q363,55,408,94Q453,133,447.5,191.5Q442,250,454,312.5Z;
              
              M445,305Q441,360,391,383.5Q341,407,295.5,452Q250,497,200.5,459.5Q151,422,115,385.5Q79,349,50.5,299.5Q22,250,29.5,188.5Q37,127,93,100.5Q149,74,199.5,59.5Q250,45,298,64.5Q346,84,388.5,115Q431,146,440,198Q449,250,445,305Z;">

              </animate>
            </path>
          </g>
        </svg>
      </div>
      <div class="blob-right" style="margin-top:20px; margin-left:200px">
        <svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="150%"id="blobSvg">
          <g transform="translate(167.2222137451172, -19.961448669433594)">
            <defs>
              <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(80, 63, 191);"></stop>
                <stop offset="100%" style="stop-color: rgb(242, 119, 164);"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradient)">
              <animate
              attributeName="d"
              dur="10000ms"
              repeatCount="indefinite"
              
              values="
              M445,305Q441,360,391,383.5Q341,407,295.5,452Q250,497,200.5,459.5Q151,422,115,385.5Q79,349,50.5,299.5Q22,250,29.5,188.5Q37,127,93,100.5Q149,74,199.5,59.5Q250,45,298,64.5Q346,84,388.5,115Q431,146,440,198Q449,250,445,305Z;

              M426,299Q420,348,392,398Q364,448,307,457Q250,466,205.5,435Q161,404,124,374Q87,344,48,297Q9,250,23,188.5Q37,127,84,85.5Q131,44,190.5,34.5Q250,25,297.5,55.5Q345,86,378,121.5Q411,157,421.5,203.5Q432,250,426,299Z;
              M454,300Q424,350,394.5,400Q365,450,307.5,442Q250,434,194,439Q138,444,117.5,391.5Q97,339,68.5,294.5Q40,250,42.5,191Q45,132,88,88Q131,44,190.5,41Q250,38,306,46.5Q362,55,382,108.5Q402,162,443,206Q484,250,454,300Z;
              M454,312.5Q466,375,411.5,405Q357,435,303.5,445.5Q250,456,196,446Q142,436,93,402.5Q44,369,34.5,309.5Q25,250,53,201Q81,152,117.5,118.5Q154,85,202,55Q250,25,306.5,40Q363,55,408,94Q453,133,447.5,191.5Q442,250,454,312.5Z;
              
              M445,305Q441,360,391,383.5Q341,407,295.5,452Q250,497,200.5,459.5Q151,422,115,385.5Q79,349,50.5,299.5Q22,250,29.5,188.5Q37,127,93,100.5Q149,74,199.5,59.5Q250,45,298,64.5Q346,84,388.5,115Q431,146,440,198Q449,250,445,305Z;">

              </animate>
            </path>
          </g>
        </svg>
      </div>
      <div class="blob-left" style="margin-bottom:80px;">
        <svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120%"id="blobSvg">
          <g transform="translate(167.2222137451172, -19.961448669433594)">
            <defs>
              <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(242, 119, 164);"></stop>
                <stop offset="100%" style="stop-color: rgb(80, 63, 191);"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradient)">
              <animate
              attributeName="d"
              dur="10000ms"
              repeatCount="indefinite"
              
              values="
              M426,299Q420,348,392,398Q364,448,307,457Q250,466,205.5,435Q161,404,124,374Q87,344,48,297Q9,250,23,188.5Q37,127,84,85.5Q131,44,190.5,34.5Q250,25,297.5,55.5Q345,86,378,121.5Q411,157,421.5,203.5Q432,250,426,299Z;

              M445,305Q441,360,391,383.5Q341,407,295.5,452Q250,497,200.5,459.5Q151,422,115,385.5Q79,349,50.5,299.5Q22,250,29.5,188.5Q37,127,93,100.5Q149,74,199.5,59.5Q250,45,298,64.5Q346,84,388.5,115Q431,146,440,198Q449,250,445,305Z;
              M454,300Q424,350,394.5,400Q365,450,307.5,442Q250,434,194,439Q138,444,117.5,391.5Q97,339,68.5,294.5Q40,250,42.5,191Q45,132,88,88Q131,44,190.5,41Q250,38,306,46.5Q362,55,382,108.5Q402,162,443,206Q484,250,454,300Z;
              M454,312.5Q466,375,411.5,405Q357,435,303.5,445.5Q250,456,196,446Q142,436,93,402.5Q44,369,34.5,309.5Q25,250,53,201Q81,152,117.5,118.5Q154,85,202,55Q250,25,306.5,40Q363,55,408,94Q453,133,447.5,191.5Q442,250,454,312.5Z;
              
              M426,299Q420,348,392,398Q364,448,307,457Q250,466,205.5,435Q161,404,124,374Q87,344,48,297Q9,250,23,188.5Q37,127,84,85.5Q131,44,190.5,34.5Q250,25,297.5,55.5Q345,86,378,121.5Q411,157,421.5,203.5Q432,250,426,299Z;">

              </animate>
            </path>
          </g>
        </svg>
      </div>
      <div class="blob-left" style="margin-bottom:80px;">
        <svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120%"id="blobSvg">
          <g transform="translate(167.2222137451172, -19.961448669433594)">
            <defs>
              <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(242, 119, 164);"></stop>
                <stop offset="100%" style="stop-color: rgb(80, 63, 191);"></stop>
              </linearGradient>
            </defs>
            <path fill="url(#gradient)">
              <animate
              attributeName="d"
              dur="10000ms"
              repeatCount="indefinite"
              
              values="
              M426,299Q420,348,392,398Q364,448,307,457Q250,466,205.5,435Q161,404,124,374Q87,344,48,297Q9,250,23,188.5Q37,127,84,85.5Q131,44,190.5,34.5Q250,25,297.5,55.5Q345,86,378,121.5Q411,157,421.5,203.5Q432,250,426,299Z;
              
              M445,305Q441,360,391,383.5Q341,407,295.5,452Q250,497,200.5,459.5Q151,422,115,385.5Q79,349,50.5,299.5Q22,250,29.5,188.5Q37,127,93,100.5Q149,74,199.5,59.5Q250,45,298,64.5Q346,84,388.5,115Q431,146,440,198Q449,250,445,305Z;
              M454,300Q424,350,394.5,400Q365,450,307.5,442Q250,434,194,439Q138,444,117.5,391.5Q97,339,68.5,294.5Q40,250,42.5,191Q45,132,88,88Q131,44,190.5,41Q250,38,306,46.5Q362,55,382,108.5Q402,162,443,206Q484,250,454,300Z;
              M454,312.5Q466,375,411.5,405Q357,435,303.5,445.5Q250,456,196,446Q142,436,93,402.5Q44,369,34.5,309.5Q25,250,53,201Q81,152,117.5,118.5Q154,85,202,55Q250,25,306.5,40Q363,55,408,94Q453,133,447.5,191.5Q442,250,454,312.5Z;
              
              M426,299Q420,348,392,398Q364,448,307,457Q250,466,205.5,435Q161,404,124,374Q87,344,48,297Q9,250,23,188.5Q37,127,84,85.5Q131,44,190.5,34.5Q250,25,297.5,55.5Q345,86,378,121.5Q411,157,421.5,203.5Q432,250,426,299Z;">

              </animate>
            </path>
          </g>
        </svg>
      </div>
      <!--end of blobs-->

        <div id="login-container">
          <form name="login form" class="d-grid grid-3 my-3" style="margin-left: 7%; margin-right: 7%;">
            <h1 class="oswald text-center text-gray p-4">LOGIN</h1>

            <div class="mb-4">
              <label for="username" class="login-label">Username</label>
              <input type="text" class="login-input">
            </div>

            <div class="mb-5">
              <label for="password" class="login-label">Password</label>
              <input type="password" class="login-input">
            </div>

            <div class="mb-4 text-center"> 
              <%- include('partials/loginBtn.ejs') %>
              <p class="text-center montserrat" style="font-size:small">Don't have an account yet? 
                <a class="register-link text-pink" href="/register">Register</a>
              </p>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

