<div class="container-fluid px-0">
  <div class="row">
    <div class="col-6 vh-100" style="background-image: url('img/landing_banner.png'); background-size: cover; padding-left: 5%;padding-right: 5%; padding-top: 3%; padding-bottom: 3%;">
      <div>
        <img src="img/landing_logo_withName.png" style="width:20%" />
        <h1 class="oswald text-white" style="font-size: 16vmin; padding: 5%;">
          You got it,<br>we stock it.
        </h1>

        <p class="montserrat text-white fst-italic" style="text-align: justify; padding-left: 5%; padding-right: 5%; padding-bottom: 0; padding-top: 2%; margin-bottom:2%; margin-top: auto;box-sizing: border-box;">
          Are you having trouble managing the inventory of your newly-opened coffee shop? Or having difficulty keeping up with the inventory demands of your other businesses? 
          Scratching your head on how to efficiently handle your inventory with your workmates? <br><br> Hmmm…you’re in luck! Introducing – <strong>Keepr</strong>!
          Keepr is an inventory management web application that caters to your inventory management needs. “Egads! Is this real?” 
          Yes, it is real and a hundred percent free just for you. So, what are you waiting for? Create your own Keepr account 
          now and enjoy its inventory management features. As our saying goes – You got it, we stock it! So prepare for features such as 
          Add Collaborators, Modify inventory item, View Workspace, and so much more.
          <br><br>
          Want to know more About Us? <a class="login-link fw-bolder text-white" href="/about-us">Head down here</a>!
        </p>
      </div>
    </div>

    <div class="col-6 d-flex px-0">
      <!--start of blobs--> 
      <%- include('partials/bg-blobs.ejs') %>
      <!--end of blobs-->

      <div id="login-container">
        <form name="login-form" class="d-grid grid-3 my-3" style="margin-left: 7%; margin-right: 7%;">
          <h1 class="oswald text-center text-gray p-4">LOGIN</h1>

          <div id="alert-placeholder" class="m-0 p-0"></div>

          <div class="mb-4">
            <label for="username" class="login-label">Username</label>
            <input type="text" class="login-input" id="login-username" onclick="resetInputBorder('login-username')" required>
          </div>

          <div class="mb-5">
            <label for="password" class="login-label">Password</label>
            <input type="password" class="login-input" id="login-password" onclick="resetInputBorder('login-password')" required>
          </div>

          <div class="mb-4 text-center"> 
            <%- include('partials/btn-login.ejs') %>
            <p class="text-center montserrat" style="font-size:small">Don't have an account yet? 
              <a class="login-link text-pink" href="/register">Register</a>
            </p>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<script>
  function submitForm(user) {
    $.post('/', user, function(result) {
      if(result === false) return;

      switch(result.isErr) {
        case 1:
          $('#alert-placeholder').append(result.content);
          break;
        case 0:
          window.location.assign(result.content);
          break;
      }
    })
  }

  function checkEmptyInputs(usernameField, passwordField) {
    let emptyInput = false;

    if(usernameField.value === '') {
      usernameField.style["border-color"] = "pink";
      usernameField.style["box-shadow"] = "0 0 0 0.1rem pink";
      emptyInput = true;
    }
    if(passwordField.value === '') {
      passwordField.style["border-color"] = "pink";
      passwordField.style["box-shadow"] = "0 0 0 0.1rem pink";
      emptyInput = true;
    }

    return emptyInput;
  }

  function resetInputBorder(id) {
    let field = document.forms["login-form"][id];
    field.style["border"] = "1px solid #C4C4C4";
    field.style["border-color"] = "#C4C4C4";
    field.style["box-shadow"] = "0 0 0 0";
  }

  function validateLoginForm() {
    let usernameField = document.getElementById('login-username');
    let passwordField = document.getElementById('login-password');
    let user = {
      username: usernameField.value,
      password: passwordField.value
    }

    let emptyFieldExists = checkEmptyInputs(usernameField, passwordField);

    if(!emptyFieldExists) {
        submitForm(user);
    }
  }
</script>

