<div class="container-lg">
  <div class="row justify-content-center">
    <!-- Column for Inventory list-->
    <div class="col-9">

    </div>

    <!-- Column for `Sort by` button-->
    <div class="col-2">

    </div>
  </div>
</div>