<div class="container-lg my-3">
  <div class="row justify-content-center">
    <!-- Inventory/Item list Column-->
    <div class="col-9">

      <!-- `Add Item` button-->
      <button type="button" class="btn btn-lg add-btn text-start w-100">
        <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
        <span class="montserrat">Add Item</span>
      </button>

      <!-- Item list -->


    </div>

    <!-- `Sort by` button Column-->
    <div class="col-2">
      <%- inlcude('./partials/sort_btn.ejs') %>
    </div>
  </div>
</div>