<div class="center" style="height: 40vh; text-align: center;">
    <img src="img/register_logo.png" style="padding-bottom:10px"/>
    <h1 class="oswald">REGISTER</h1>
    <form name="register form">
        <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label class="montserrat" style="font-weight:lighter;">Name</label>
        </div>
        <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label class="montserrat" style="font-weight:lighter;">Display Name</label>
        </div>
        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label class="montserrat" style="font-weight:lighter">Password</label>
        </div>
        <input type="submit" value="Register" style="width:50%" style="text-align:center">
    </form>
</div>