<div class="center">
    <img src="img/register_logo.png" class="pb-2"/>
    <h1>REGISTER</h1>
    <form name="form">
        <div class="text-field">
            <input type="text" required>
            <span></span>
            <label>Name</label>
        </div>
        <div class="text-field">
            <input type="text" required>
            <span></span>
            <label>Display Name</label>
        </div>
        <div class="text-field">
            <input type="password" required>
            <span></span>
            <label>Password</label>
        </div>
        <%- include('partials/registerBtn.ejs') %>
    </form>
</div>