@use '../custom' as *;

#back-to-top-btn {
  position: fixed;
  right: 3vw;
  bottom: 5vh;
  background-color: $white;

  svg {
    color: $pink;
  }

  &:hover {
    background-color: $pink;

    svg {
      color: $white;
    }
  }

}
