@use '../custom' as *;
@use 'typography' as *;

#back-to-top-btn {
  position: fixed;
  right: 3vw;
  bottom: 5vh;
  background-color: $white;
  border-color: $white-btn-border-color;
  display: none;

  svg {
    color: $pink;
  }

  &:hover {
    background-color: $pink;

    svg {
      color: $white;
    }
  }

}

.back-btn {
  @extend .btn;
  @extend .btn-lg;
  @extend .mt-4;
  @extend .text-center;
  @extend .montserrat;
  @extend .border;
  background-color: $pink;
  color: $white;

  &:hover{
    color: $white;
    background-color: darken($pink, 5%);
  }
}
