@use '../custom' as *;
@use '../components/typography' as *;

#back-to-top-btn {
  position: fixed;
  right: 3vw;
  bottom: 5vh;
  background-color: $white;
  border-color: $white-btn-border-color;
  display: none;

  svg {
    color: $pink;
  }

  &:hover {
    background-color: $pink;

    svg {
      color: $white;
    }
  }

}

.add-btn {
  color: $add-btn-color;
  background-color: $add-btn-bg-color;
  border: 1px solid $add-btn-color;
  width: 100%;

  span {
    font-family: 'Montserrat', sans-serif;
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }
}