@use '../custom' as *;
@use '../components/typography' as *;

.keepr-card {
  border-radius: $border-radius-lg;

  .card-title {
    font-family: 'Montserrat', sans-serif;
  }

  .card-text {
    font-family: 'Montserrat', sans-serif;

    &:first-child {
      margin-top: 1rem;
    }
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: 0;
  }
}
