@use '../custom' as *;
@use '../components/typography' as *;

.keepr-card {
  border-radius: $border-radius-lg;
  border-width: 1px;
  box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.15);

  .card-title {
    font-family: 'Montserrat', sans-serif;
  }

  .card-text {
    font-family: 'Montserrat', sans-serif;
  }

  .card-text-first {
    margin-top: 1.5rem;
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: 0;
  }
}

