@use '../custom' as *;

$dm-black: #212121;
$dm-gray: #616161;
$dm-heading: #E0E0E0;

.dark-mode {
  background-color: $dm-black;

  .search input {
    color: $white;
    background-color: $dm-black;
    border-color: $white;
  }

  .search-logo {
    color: $white;
    border-color: $white;
  }

  #page-heading {
    color: $dm-heading;
    border-color: $dm-heading;
  }

  #workspace-name {
    background-color: $dm-gray;
  
    p {
      @extend .text-white;
    }
  }
  
  #back-workspace {
    color: $white;
    background-color: $dm-gray;
  }

  .keepr-card {
    color: $white;
    background-color: $dm-gray;
  }

  .item-list-card {
    color: $white;
    background-color: $dm-gray;
  }

  .sort-btn {
    @extend .btn-pink;
    color: $white;
  }
}

#page-heading {
  color: $gray;
}
